{% extends 'base.html' %}
{% block body %}

<center>
    <br><br><br><br>
    <div class="container">
        <div>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae minima delectus accusamus accusantium deleniti libero excepturi porro illo.</p>
                <a href="/form" class="btn btn-warning"  type="button" data-bs-toggle="button">Fill the form</a>
                </center>
            </div>
        </div>
    </div>
</center>
{% endblock %}